

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  background-color: #2f303a;

}

.footer-address{
  margin-top: 20px;
  margin-bottom:60px ;
}



.address-element__street {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $white-text-color;
  font-style: normal;
  text-decoration: none;
  margin-bottom: 8px;
  transition: color 250ms $cubik-linear;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address-element__link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms $cubik-linear;

  &:hover,
  &:focus {
  color: $accent-color;
  }
}

.address-element__item--bottom {
  margin-bottom: 8px;
}

/* Оформление "Присоединяйся" */

.accession {
margin-left: auto;
margin-right: auto;

}

.accession__title {
  
  color: $white-text-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* ОФОРМЛЕНИЕ ПОДПИСКИ НА РАССЫЛКУ */

.subscribe-element {
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

.subscribe-element__title {
  color: $white-text-color;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 3%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-element__input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  height: 50px;
  width: 450px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: $white-text-color;
}

.subscribe-element__button {
  display: flex;
  justify-content: center;
  align-items: center;
margin-left: auto;
margin-right: auto;
  padding: 0;
  width: 200px;
  height: 50px;
  // margin-left: 12px;
  border-radius: 4px;
  border: none;

  cursor: pointer;
  color: $white-text-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
}
.subscribe-element__button {
  fill: $white-text-color;


}
