.section-warning {
  margin-top: 94px;
}

.list-warning {
  width: 450px;
}



.list-warning__title {
text-align: center;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: uppercase;
}

.list-warning__subtitle {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $secondary-text-color;
}

.list-warning__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: $grey-button-color;
  border-radius: 4px;
}
