.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 40px;
}

.form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
}

.form__field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
  transition: fill 250ms $cubik-linear;

  &:focus-within {
    fill: $accent-color;
  }
}

.form__icon {
  position: absolute;
  bottom: 14px;
  left: 15px;
}

.form__input {
  height: 40px;
  padding: 0;
  padding-left: 43px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms $cubik-linear;

  &:focus,
  &:hover {
    border: 1px solid $accent-color;
  }

  &:valid:not(:placeholder-shown) {
    border: 1px solid green;
  }

  &:invalid:not(:placeholder-shown) {
    border: 1px solid RED;
  }
}

.form__coment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 1%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms $cubik-linear;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 1%;
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.checkbox__mark {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid black;
  transition: background-color 250ms $cubik-linear,
    background-origin 250ms $cubik-linear, border 250ms $cubik-linear;
}

.checkbox__input:checked + .checkbox__mark {
  background-color: $accent-color;
  border: $accent-color;
  background-origin: border-box;
  background-image: url(../images/icon_check.svg);
}

.checkbox__policy {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  color: $secondary-text-color;
}

.form__text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
  margin-bottom: 4px;
}
.checkbox__link {
  color: $accent-color;
}
.form__button {
  width: 200p;
  height: 50px;
  padding-left: 52px;
  padding-right: 52px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: rgba(33, 150, 243, 1);
  transition: background-color 250ms $cubik-linear;

  color: rgba(255, 255, 255, 1);

  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  &:hover,
  &:focus {
    background-color: rgba(24, 140, 232, 1);
  }
}
