.logo {
  margin-right: auto;

  font-family: Raleway, sans-serif;
  @include text(26px,700,1.15,0.02em);

  &--blue{
  color:$accent-color;
  }
}

.page-header__logo {
  color:$primary-text-color;
}

.page-footer__logo {
margin-bottom: 50px;

font-family: Raleway, sans-serif;
color: $white-text-color;
}



