.section-hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;

  text-align: center;

  background-color: #2f303a;
  background-image: url(../images/img-hiro.jpg),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.section-hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width:360px;


  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

@media screen and (min-width:1200px){
  max-width:696px;

  @include text(44px,900,1.36,0.06em);
}

}
.section-hero__button {
    display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  overflow: hidden;

  border-radius: 4px;
  padding: 10px 32px;
  border: 0px;

  @include text(16px,700,1.87,0.06em);
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color 250ms $cubik-linear, color 250ms $cubik-linear;

  cursor: pointer;

  &:focus,
  &:hover {
    color: $accent-color;
    background-color: $white-text-color;
  }

  &::after {
    width: 20px;
    height: 20px;
    margin-left: 5px;

    background-image: url(../images/finger.png);
    background-size: contain;
    content: "";

    transition: transform 250ms $cubik-linear;
  }

  &:hover::after,
  &:focus::after {
    transform: translateY(-35px);
  }

  &::before {
    position: absolute;
    top: 50%;
    right: 32px;

    width: 20px;
    height: 20px;
    content: "";

    transform: translateY(calc(-50% + 35px));
    transition: transform 250ms $cubik-linear;

    background-image: url(../images/galockka.png);
    background-size: contain;
  }

  &:hover::before,
  &:focus::before {
    transform: translateY(-50%);
  }
}
