.section-company {
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

.company-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  row-gap: 30px;
}

.section-company__title {
  margin-bottom: 30px;

  @include text(28px,700,1.18,0.02em);
  text-align: center;

  @media screen and (min-width: 1200px) {
  margin-bottom: 50px;
  }
}

.company-list__item {
    width: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    width:226px;
  }

  @media screen and (min-width: 1200px) {
    width:170px;
  }
}

.company-list__link {
  display: flex;
  justify-content:center;
  align-items: center;

  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill 250ms $cubik-linear;

  &:hover .company-list__icon,
  &:focus .company-list__icon {
    fill: $accent-color;
    border: 1px solid $accent-color;
    border-radius: 4px;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }
@media screen and (min-width: 1200px) {
  width: 170px;
  }
}

.company-list__icon{
  fill: #afb1b8;
}

