
// микс для свойств displey:flex
// По умолчанию - @include flex(flex,flex-start,stretch,nowrap,row);

@mixin flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

// Микс для свойств текста
// Бланк для заполнения - @include text(,,,);
@mixin text(
$font-size,
$font-weight,
$line-height,
$letter-spacing,){
    font-size:$font-size;
    font-weight:$font-weight;
    line-height:$line-height;
    letter-spacing:$letter-spacing;
}

